.profile__edit {
    margin: 0;
    padding: 0;
    margin-top: 37px;
    margin-left: 18px;
    width: 24px;
    height: 24px;
    background-image: url(../../../images/rectangle-small.png), url(../../../images/edit.png);
    background-position: center;
    background-repeat: no-repeat;
}

.profile__edit:hover {
    opacity: 0.6;
}