@import url(__picture/card__picture.css);
@import url(__info/card__info.css);
@import url(__name/card__name.css);
@import url(__social-symbol/card__social-symbol.css);
@import url(__delete-button/card__delete-button.css);
@import url(__social-wrapper/card__social-wrapper.css);
@import url(__like-count/card__like-count.css);


.card {
    display: block;
    position: relative; /*allows delete button to be positioned correctly*/
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
    justify-self: center; /*centers card at all times regardless of its position normally*/
    max-width: 282px;
    overflow: hidden;
}

@media screen and (max-width: 450px) {
    .card {
        max-width: 380px;
    }
}