.image-popup-figure {
    margin: 0;
    padding: 0;
    display: flex;
    max-height: 80vh; /*safeguards against freakishly large images pushing the close button off-screen*/
    flex-direction: column;
}