@import url(__picture/card__picture.css);
@import url(__info/card__info.css);
@import url(__name/card__name.css);
@import url(__social-symbol/card__social-symbol.css);

.card {
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
    padding: 0;
    justify-self: center; /*centers card at all times regardless of its position normally*/
    max-width: 282px;
}

@media screen and (max-width: 450px) {
    .card {
        max-width: 380px;
    }
}